In [1]:
import os
import pandas as pd

In [29]:
pd.set_option('display.max_columns', None)

In [2]:
PATH = '../raw_data'

In [3]:
os.listdir(PATH)

['governors_county_candidate.csv',
 'president_county_candidate.csv',
 'governors_state.csv',
 'governors_county.csv',
 'senate_state.csv',
 'house_candidate.csv',
 'senate_county.csv',
 'president_state.csv',
 'president_county.csv',
 'house_state.csv',
 'senate_county_candidate.csv']

In [45]:
pres_county_candidate = pd.read_csv(os.path.join(PATH, 'countypres_2000-2020.csv'))
pres_county_candidate = pres_county_candidate[pres_county_candidate['party'].isin(['DEMOCRAT', 'REPUBLICAN'])]
pres_county_candidate.head(10)

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,PRESIDENT,AL GORE,DEMOCRAT,4942.0,17208.0,20191203,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993.0,17208.0,20191203,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003.0,PRESIDENT,AL GORE,DEMOCRAT,13997.0,56480.0,20191203,TOTAL
5,2000,ALABAMA,AL,BALDWIN,1003.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,40872.0,56480.0,20191203,TOTAL
8,2000,ALABAMA,AL,BARBOUR,1005.0,PRESIDENT,AL GORE,DEMOCRAT,5188.0,10395.0,20191203,TOTAL
9,2000,ALABAMA,AL,BARBOUR,1005.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,5096.0,10395.0,20191203,TOTAL
12,2000,ALABAMA,AL,BIBB,1007.0,PRESIDENT,AL GORE,DEMOCRAT,2710.0,7101.0,20191203,TOTAL
13,2000,ALABAMA,AL,BIBB,1007.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,4273.0,7101.0,20191203,TOTAL
16,2000,ALABAMA,AL,BLOUNT,1009.0,PRESIDENT,AL GORE,DEMOCRAT,4977.0,17973.0,20191203,TOTAL
17,2000,ALABAMA,AL,BLOUNT,1009.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,12667.0,17973.0,20191203,TOTAL

In [47]:
pres_county_candidate[pres_county_candidate['year'] == 2000]

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,PRESIDENT,AL GORE,DEMOCRAT,4942.0,17208.0,20191203,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993.0,17208.0,20191203,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003.0,PRESIDENT,AL GORE,DEMOCRAT,13997.0,56480.0,20191203,TOTAL
5,2000,ALABAMA,AL,BALDWIN,1003.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,40872.0,56480.0,20191203,TOTAL
8,2000,ALABAMA,AL,BARBOUR,1005.0,PRESIDENT,AL GORE,DEMOCRAT,5188.0,10395.0,20191203,TOTAL
...,...,...,...,...,...,...,...,...,...,...,...,...
50021,2000,ALASKA,AK,DISTRICT 39,2039.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,2321.0,5188.0,20191203,TOTAL
50024,2000,ALASKA,AK,DISTRICT 40,2040.0,PRESIDENT,AL GORE,DEMOCRAT,1024.0,3226.0,20191203,TOTAL
50025,2000,ALASKA,AK,DISTRICT 40,2040.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,1831.0,3226.0,20191203,TOTAL
50028,2000,ALASKA,NaN,DISTRICT 99,2099.0,PRESIDENT,AL GORE,DEMOCRAT,NaN,0.0,20191203,TOTAL
50029,2000,ALASKA,NaN,DISTRICT 99,2099.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,NaN,0.0,20191203,TOTAL

In [34]:
pres_county_candidate['party'].unique()

array(['DEM', 'REP'], dtype=object)

In [35]:
pres_county_candidate['county'].unique().shape, pres_county_candidate.shape

((3007,), (9266, 6))

In [36]:
pres_county_candidate[['state','county']].drop_duplicates().shape

(4633, 2)

In [37]:
pres_county_candidate['state'].unique().shape

(51,)

There are 4633 counties in the dataset.

In [38]:
pres_county_grouped = pres_county_candidate.groupby('candidate', as_index=False).agg({'won': 'sum', 'total_votes': 'sum'}).sort_values('total_votes', ascending=False)

In [39]:
pres_county_grouped.head()

      candidate   won  total_votes
1     Joe Biden  1410     82046434
0  Donald Trump  3219     74585705

In [40]:
unemployment = pd.read_excel(os.path.join(PATH, 'Unemployment.xlsx'), header=4)

In [41]:
unemployment.head()

,FIPS_Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,Employed_2002,Unemployed_2002,Unemployment_rate_2002,Civilian_labor_force_2003,Employed_2003,Unemployed_2003,Unemployment_rate_2003,Civilian_labor_force_2004,Employed_2004,Unemployed_2004,Unemployment_rate_2004,Civilian_labor_force_2005,Employed_2005,Unemployed_2005,Unemployment_rate_2005,Civilian_labor_force_2006,Employed_2006,Unemployed_2006,Unemployment_rate_2006,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,3.994853,143786537.0,136977996.0,6808541.0,4.735173,144839298.0,136455783.0,8383515.0,5.788149,145660094.0,136944522.0,8715572.0,5.9835,146724795.0,138613904.0,8110891.0,5.527962,148597241.0,141000912.0,7596329.0,5.112026,150707773.0,143729350.0,6978423.0,4.630434,152191050.0,145156133.0,7034917.0,4.622425,153761037.0,144860349.0,8900688.0,5.78865,153825454.0,139594699.0,14230755.0,9.251236,154254521.0,139393814.0,14860707.0,9.633887,154520678.0,140688861.0,13831817.0,8.951434,155038121.0,142527201.0,12510920.0,8.069576,155362278.0,143905037.0,11457241.0,7.374532,155936159.0,146318952.0,9617207.0,6.1674,156840649.0,148554918.0,8285731.0,5.282897,158674951.0,150949349.0,7725602.0,4.868823,160214378.0,153237150.0,6977228.0,4.354932,161441134.0,155152550.0,6288584.0,3.89528,163140305.0,157154185.0,5986120.0,3.669308,160611064.0,147677360.0,12933704.0,8.05281,65712.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.600000,2128027.0,2017467.0,110560.0,5.200000,2112621.0,1987633.0,124988.0,5.900000,2128668.0,2001568.0,127100.0,6.0000,2138306.0,2018783.0,119523.0,5.600000,2140356.0,2045234.0,95122.0,4.400000,2170007.0,2083207.0,86800.0,4.000000,2180448.0,2092030.0,88418.0,4.100000,2176854.0,2049579.0,127275.0,5.80000,2156593.0,1938784.0,217809.0,10.100000,2197028.0,1968824.0,228204.0,10.400000,2202337.0,1991379.0,210958.0,9.600000,2178508.0,2000848.0,177660.0,8.200000,2172102.0,2012828.0,159274.0,7.300000,2164715.0,2018705.0,146010.0,6.7000,2152295.0,2020443.0,131852.0,6.100000,2155729.0,2029157.0,126572.0,5.900000,2172455.0,2073396.0,99059.0,4.600000,2207019.0,2120704.0,86315.0,3.90000,2237278.0,2169395.0,67883.0,3.000000,2230118.0,2099062.0,131056.0,5.90000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21861.0,20971.0,890.0,4.100000,22081.0,21166.0,915.0,4.100000,22161.0,21096.0,1065.0,4.800000,22695.0,21557.0,1138.0,5.0000,23241.0,22146.0,1095.0,4.700000,23887.0,22986.0,901.0,3.800000,24425.0,23619.0,806.0,3.300000,24434.0,23610.0,824.0,3.400000,24687.0,23376.0,1311.0,5.30000,24660.0,22464.0,2196.0,8.900000,25749.0,23481.0,2268.0,8.800000,25845.0,23688.0,2157.0,8.300000,25762.0,23932.0,1830.0,7.100000,25783.0,24155.0,1628.0,6.300000,25639.0,24150.0,1489.0,5.8000,25541.0,24206.0,1335.0,5.200000,25710.0,24395.0,1315.0,5.100000,25898.0,24858.0,1040.0,4.000000,26081.0,25140.0,941.0,3.60000,26281.0,25561.0,720.0,2.700000,25838.0,24576.0,1262.0,4.90000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69979.0,67370.0,2609.0,3.700000,69569.0,66545.0,3024.0,4.300000,69379.0,65881.0,3498.0,5.000000,72598.0,69010.0,3588.0,4.9000,74843.0,71061.0,3782.0,5.100000,76608.0,73581.0,3027.0,4.000000,79806.0,77263.0,2543.0,3.200000,82829.0,80213.0,2616.0,3.200000,83205.0,79222.0,3983.0,4.80000,82314.0,74950.0,7364.0,8.900000,83551.0,75283.0,8268.0,9.900000,85077.0,77459.0,7618.0,9.000000,84507.0,77973.0,6534.0,7.700000,85206.0,79466.0,5740.0,6.700000,86546.0,81265.0,5281.0,6.1000,87493.0,82619.0,4874.0,5.600000,89778.0,84972.0,4806.0,5.400000,91838.0,87994.0,3844.0,4.200000,94820.0,91375.0,3445.0,3.60000,97424.0,94713.0,2711.0,2.800000,96763.0,91338.0,5425.0,5.60000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11449.0,10812.0,637.0,5.600000,11324.0,10468.0,856.0,7.600000,11006.0,10154.0,852.0,7.700000,11019.0,10241.0,778.0,7.1000,10639.0,9884.0,755.0,7.100000,10730.0,10114.0,616.0,5.700000,10713.0,10110.0,603.0,5.600000,10363.0,9698.0,665.0,6.400000,10175.0,9249.0,926.0,9.10000,9944.0,8635.0,1309.0,13.200000,10219.0,8978.0,1241.0,12.100000,9843.0,8716.0,1127.0,11.400000,9377.0,8273.0,1104.0,11.800000,9096.0,8152.0,944.0,10.400000,8859.0,7930.0,929.0,10.5000,8590.0,7823.0,767.0,8.900000,8334.0,7638.0,696.0,8.400000,8298.0,7800.0,498.0,6.000000,8379.0,7949.0,430.0,5.10000,8502.0,8177.0,325.0,3.800000,8587.0,7982.0,605.0,7.00000,35972.0,69.482918